{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<div id="new">
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <textarea name="post" autofocus id="content" cols="30" rows="2" placeholder="New post"></textarea>
        <input id="button" type="submit" value="Submit">
    </form>
</div>
{% endif %}

<div id="all">
    {% for post in posts %}
    <div id='post{{post.id}}' class="post" style="display:block;">
    {% if user.is_authenticated %}
    <a href="{% url 'user' post.user %}">{{ post.user }}</a><br>
    {% else %}
    <a href="{% url 'login' %}">{{ post.user }}</a><br>
    {% endif %}
    <div class="content" id='content2{{post.id}}'>{{ post.post }}</div>
    <small>{{ post.timestamp }}</small>
    <div id="likes{{post.id}}">Likes : {{ post.like.count }}</div>
    <div id="hide{{post.id}}">
        {% if user.is_authenticated and request.user.username != post.user %}
        {% if post in user.like.all%}
            <a href="#" id='like' data-post={{post.id}}><span id="like{{post.id}}">Unlike</span></a>
        {% else %}
            <a href="#" id='like' data-post={{post.id}}><span id="like{{post.id}}">Like</span></a>
        {% endif %}
        {% endif %}
        {% if request.user.username == post.user %}
            <a href="#" id="edit" data-post={{post.id}}>Edit</a>
        {% endif %}
        </div>
    </div>
    <div id='edit{{post.id}}' class="edit" style="display:none;">
        <form id="form{{post.id}}">
            <textarea name="post" id="content{{post.id}}" cols="30" rows="2" autofocus>{{post.post}}</textarea>
            <input id="button" type="submit"  value="Save">
        </form>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{% url 'index' %}?page={{posts.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      {% if posts.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'index' %}?page={{posts.next_page_number}}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/js.js' %}" ></script>
    <script src="{% static 'network/like.js' %}" ></script>
{% endblock %}